.selector-for-some-widget {
    box-sizing: content-box;
  }

 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box ;
 }
 body{
    background-color: #333333;
    color :#fff;
}
 .ndNav{
     display: flex;
     text-align: center;
     justify-content: center;
     align-items: center;
     margin-top: 10px;
 }

 .ndColNav{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 #ndParam{
    position: absolute;
    top:25px;
    right: 20px;
    background-image:url("../img/gearBlue.png");
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 40px;
 }
 


#ndParam:hover{
    animation: animateRotateGear 2.5s linear infinite;
}


@keyframes animateRotateGear{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
.ndButtonArticle:active {outline-style:none;}
#ndLogo{
    min-height: 150px;
    width:150px;
    background-image: url("../img/logo3.png");
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

#ndLogo:hover{
    animation: animateLogo 1.5s linear infinite;
}

@keyframes animateLogo{
    0%{
        background-image: url("../img/logo.png");
    }
    35%{
        background-image: url("../img/logo1.png");
    }
    70%
    {
        background-image: url("../img/logo2.png");
    }
    100%{
        background-image: url("../img/logo3.png");
    }
}


 .ndColNav p{
     padding: 0;
     margin: 0;
 }

 .entete{
     text-align: center;
     width: 100%;
     margin-top : 25px;
     display: flex;
     justify-content: center;
 }



 .slog{
    width: 30%;
     border-bottom: 5px solid #303cc4;
 }

 @media (max-width : 760px){
    .slog{
        width: 80%;
        border-bottom: 5px solid #303cc4;
     }
    
}
 

 .ndContent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
 }
 
.ndContCard{
    position : relative;
    width: 1150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.ndContCard .ndCard{
    position: relative;
    width: 300px;
    height: 420px;
    background : #333333;
    margin: 20px;
    overflow: hidden;
    border-radius: 20px;
    border : 3px solid #303cc4;     
}

.ndContCard:hover .ndCard{
    filter: blur(2px);
    transform: scale(1);
    opacity: 0.7;
}

.ndContCard .ndCard:hover{
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}



.ndContCard .ndCard .circle{
    position : relative;
    width: 100%;
    height: 180px;
    background : #000;
    border-bottom-left-radius : 50%;
    border-bottom-right-radius : 50%;
    text-align: center;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid #303cc4;
}


.ndContCard .ndCard .circle h2{
    color:#fff;
    font-size: 4.5rem;
    padding: 30px 0;
}

.ndContCard .ndCard .content{
    position: absolute;
    bottom:10px;
    text-align: center;
    margin-bottom: 20px;
    padding-left:10px;
    padding-right: 10px;
}

.ndContCard .ndCard .content a{
    position: relative;
    padding: 10px 20px;
    background:#303cc4;
    color:#fff;
    border-radius: 40px;
    text-decoration: none;
}

.ndClose{
    width: 100%;
    display: block;
}


.ndImgClose{
    float: right;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.ndPModal{
    font-size : 1.5rem;
}

.ndButtonArticle{
    position: relative;
    padding: 10px 20px;
    background:#303cc4;
    color:#fff;
    border-radius: 40px;
    text-decoration: none;
    outline-style:none;
}

.ndButtonArticle:hover{
    color:#fff;
    transform: scale(1.1);
}
.ndFb{
    position: absolute;
    top : 50%;
    left : 5px;
    transform: translate(0,-50%);
}

.modal-footer{
    position: relative;
    border-top: 1px solid rgba(49, 3, 255, 0.5);
}

.modal-content{
    border : 2px solid #303cc4;
    border-radius: 0.8rem;
    background-color: #333333;
    height: 100%;
}

.modal-header{
    border-bottom: none;
}

#ndCaractAnime{
    height:60px;
    font-size:1.5rem;
}
@media (min-width:1245px){
    #ndCaractAnime{
        height: 20px;
    }
}

.ndImgMod img{
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
}


.nav-pills .nav-link.active{
    background-color: #303cc4;
}

a{
    color:#fff;
}

a:hover{
    color:#fff;
    transform: scale(1.05);
}

input{
    border : none;
}

.ndContentModal{
    height: 80%;
}

@media (min-width: 576px){
    .ndModParam{
        max-width: 700px;
        height: 400px;
    }
}
