.selector-for-some-widget {
    box-sizing: content-box;
  }

 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box ;
 }

 .ndNav{
     display: flex;
     text-align: center;
     justify-content: center;
     align-items: center;
     margin-top: 10px;
 }

 .ndColNav{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 #ndParam{
    position: absolute;
    top:25px;
    right: 20px;
 }

 #ndParam .ndButtonParam{


    width: 40px;
    transition: 0.5s;
}

#ndParam .ndButtonParam:hover{
    animation: animateRotateGear 2.5s linear infinite;
}


@keyframes animateRotateGear{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
#ndLogo{
    min-height: 150px;
    width:150px;
    background-image: url("../img/logo3.png");
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

#ndLogo:hover{
    animation: animateLogo 1.5s linear infinite;
}

@keyframes animateLogo{
    0%{
        background-image: url("../img/logo.png");
    }
    35%{
        background-image: url("../img/logo1.png");
    }
    70%
    {
        background-image: url("../img/logo2.png");
    }
    100%{
        background-image: url("../img/logo3.png");
    }
}


 .ndColNav p{
     padding: 0;
     margin: 0;
 }

 .entete{
     text-align: center;
     width: 100%;
     margin-top : 25px;
     display: flex;
     justify-content: center;
 }



 .slog{
    width: 30%;
     border-bottom: 5px solid #a00000;
 }

 .ndContent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
 }
 
.ndContCard{
    position : relative;
    width: 1150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.ndContCard .ndCard{
    position: relative;
    width: 300px;
    height: 420px;
    background : #fff;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    transition: 0.5s;
    border-radius: 20px;
    border : 3px solid #a00000;     
}

.ndContCard:hover .ndCard{
    filter: blur(2px);
    transform: scale(0.9);
    opacity: 0.7;
}

.ndContCard .ndCard:hover{
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}



.ndContCard .ndCard .circle{
    position : relative;
    width: 100%;
    height: 180px;
    background : #000;
    border-bottom-left-radius : 50%;
    border-bottom-right-radius : 50%;
    text-align: center;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid #a00000;
}


.ndContCard .ndCard .circle h2{
    color:#fff;
    font-size: 4.5rem;
    padding: 30px 0;
}

.ndContCard .ndCard .content{
    position: absolute;
    bottom:10px;
    text-align: center;
    margin-bottom: 20px;
}

.ndContCard .ndCard .content a{
    position: relative;
    padding: 10px 20px;
    background:#a00000;
    color:#fff;
    border-radius: 40px;
    text-decoration: none;
}

.ndClose{
    width: 100%;
    display: block;
}


.ndImgClose{
    float: right;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.ndPModal{
    font-size : 1.5rem;
}

.ndButtonArticle{
    position: relative;
    padding: 10px 20px;
    background:#a00000;
    color:#fff;
    border-radius: 40px;
    text-decoration: none;
}

.ndButtonArticle:hover{
    color:#fff;
    transform: scale(1.1);
}
.ndFb{
    position: absolute;
    top : 50%;
    left : 5px;
    transform: translate(0,-50%);
}

.modal-footer{
    position: relative;
    border-top: 1px solid rgba(160,0,0,0.5);
}

.modal-content{
    border : 2px solid #a00000;
    border-radius: 0.8rem;
}

.modal-header{
    border-bottom: 1px solid rgba(160,0,0,0.5);
}
