.selector-for-some-widget {
    box-sizing: content-box;
  }

 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box ;
 }

 .ndNav{
     display: flex;
     text-align: center;
     justify-content: center;
     align-items: center;
 }

 .ndColNav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 #ndParam{
     display: block;
 }
 #ndParam i{
    float: right;
    margin-top: 37px;
    margin-right: 35px;
}

 .ndColNav p{
     padding: 0;
     margin: 0;
 }

 .entete{
     text-align: center;
     width: 100%;
     margin-top : 25px;
     display: flex;
     justify-content: center;
 }

 .slog{
    width: 30%;
     border-bottom: 5px solid red;
 }

 .ndContent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
 }
 
.ndContCard{
    position : relative;
    width: 1150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.ndContCard .ndCard{
    position: relative;
    width: 300px;
    height: 420px;
    background : #fff;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    transition: 0.5s;
    border-radius: 20px;
}

.ndContCard:hover .ndCard{
    filter: blur(20px);
    transform: scale(0.9);
    opacity: 0.5;
}

.ndContCard .ndCard:hover{
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}



.ndContCard .ndCard .circle{
    position : relative;
    width: 100%;
    height: 100%;
    background : #000;
    clip-path: circle(180px at center 0);
    text-align: center;
}

.ndContCard .ndCard .circle h2{
    color:#fff;
    font-size: 4.5rem;
    padding: 30px 0;
}

.ndContCard .ndCard .content{
    position: absolute;
    bottom:10px;
    text-align: center;
}

.ndContCard .ndCard .content a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background:#000;
    color:#fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top:20px;
}

